
<h2 class="margin-bottom">Preferences</h2>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="margin-bottom-2x">

    <div class="input-wrap margin-bottom">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

  </div>

  <div class="actions"><%= f.submit %></div>
<% end %>

<h2 class="mmy">Cat Settings</h2>

<% @cats.each do |cat| %>
  <h3 class="mmy"><%= cat.name %></h3>
  <div class="margin-bottom bg-grey small options" data-name="<%= cat.name %>">

    <p class="padding-all clearfix">
      <span class="left">Dashboard</span>
      <span class="right margin-left cat-toggle <%= cat.dashboard ? "bold green" : "grey" %>" data-option="dashboard"><%= cat.dashboard ? "on" : "off" %></span>
    </p>

    <p class="padding-all clearfix">
      <span class="left">Binary day averages</span>
      <span class="right margin-left cat-toggle <%= cat.day_avgs ? "bold green" : "grey" %>" data-option="day_avgs"><%= cat.day_avgs ? "on" : "off" %></span>
    </p>

  </div>
<% end %>


<div class="margin-y padding-all" style="<%= bg_color_now %>">
  <a href="/logout" class="white">Logout</a>
</div>
