<ul class="about">
  <li><%= link_to 'log out', :logout %></li>
</ul>

<h2 class="margin-bottom">Preferences</h2>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="margin-bottom-2x">

    <div class="input-wrap margin-bottom">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

  </div>

  <div class="actions"><%= f.submit %></div>
<% end %>
