<ul class="about">
  <li class="<%= current 'home', 'guide' %>"><%= link_to 'guide', :guide %></li>
  <li class="<%= current 'home', 'about' %>"><%= link_to 'about', :about %></li>
  <li class="<%= current 'home', 'stats' %>"><%= link_to 'stats', :stats %></li>
</ul>
