<% size ||= 'foo' %>
<a href="/cats/<%= tokenize(cat) %>"
   class="cat <%= size %>"
   style="<%= style_info(hue) %>"
  ><% if mag(cat) %><i><%= mag(cat) %></i><% end %><span><%= no_mag(cat) %></span></a>
