
<section class="margin-bottom">
  <h1>How rcrd works</h1>
</section>

<section class="mhb">
  <h2 class="msb">Cats</h2>
  <p class="mlb">Cats, short for <strong>categories</strong>, are things I want to track. Cats are separated by commas (white space doesn't matter). Many cats make up one <strong>record</strong>.</p> 
  <p class="mlb">For example, I record every time I get a haircut. After I walk out of the barber shop, I'll type something like this:</p>
  <p class="sample mlb">haircut, Joe's Barber Shop</p>
  <p>Which is displayed like this:</p>
  <div>
    <%= render partial: "shared/cat", locals: {cat: "haircut", hue: hue_now} %>
    <%= render partial: "shared/cat", locals: {cat: "Joe's Barber Shop", hue: hue_now} %>
  </div>
</section>

<section class="mhb">
  <h2>Magnitudes</h2>
  <p>Numbers before a cat will not be interpreted as the cat's name. Instead, they will be stored along with the cat.</p>
  <p class="sample mlb">workout, run, 5.3 miles, Presidio</p>
  <div>
    <%= render partial: "shared/cat", locals: {cat: "workout", hue: hue_now} %>
    <%= render partial: "shared/cat", locals: {cat: "run", hue: hue_now} %>
    <%= render partial: "shared/cat", locals: {cat: "5.3 miles", hue: hue_now} %>
    <%= render partial: "shared/cat", locals: {cat: "Presidio", hue: hue_now} %>
  </div>
  <p>Clicking on '5.3 miles' will show you records with 'mile' cats.</p>
</section>

<section class="mhb">
  <h2>Time zones</h2>
  <p>To change time zones, you need to declare them:</p>
  <p class="sample mlb">time zone, Tokyo</p>
  <div>
    <%= render partial: "shared/cat", locals: {cat: "time zone", hue: hue_now} %>
    <%= render partial: "shared/cat", locals: {cat: "Tokyo", hue: hue_now} %>
  </div>
  <p>or</p>
  <p class="sample mlb">time zone, Pacific Time (US & Canada)</p>
  <div>
    <%= render partial: "shared/cat", locals: {cat: "time zone", hue: hue_now} %>
    <%= render partial: "shared/cat", locals: {cat: "Pacific Time (US & Canada)", hue: hue_now} %>
  </div>
  <p>If you've never declared a time zone, your zone is defaulted to Pacific Time. When you declare a time zone, every record after that will in the specified time zone until you declare a new time zone.</p>
  <p>I understand that this opens up the possibility for incorrect edge cases (e.g. if you submit a record, then soon after cross a time zone travelling East and declare that new time zone, the previous record will be bumped up to the new time zone). Considering the use case of rcrd, I've determined this isn't a huge problem for now.</p>
  <p>I know this isn't great, but currently time zone names must correspond exactly to the values in the list of time zones <a href="http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html">on this page</a>.</p> 
</section>

<section class="mhb">
  <h2>Privacy</h2>
  <p>Until I complete the tasks below, please do not rcrd anything that would be devastating if made public.</p> 
  <ul>
    <li>I need to set up HTTPS.</li>   
    <li>I need to encrypt records stored in the database.</li>
  </ul>
</section>

<section class="mhb">
  <h2>Contact</h2>
  <p>My name is Jeff Carpenter. I made this. I want to hear what you think. My twitter is <a href="https://twitter.com/jcarp">@jcarp</a> and my email is <a href="mailto:hi@jeff.is">hi@jeff.is</a></p>
</section>
