<div class="boxes clearfix margin-bottom">
  <% @options.each do |cat| %>
    <div class="blocks clearfix">
      <% cat[:days].each do |key, value| %>
        <div class="day " style="<%= 'background-color: #'+cat[:color]+';' if value %>" data-date="<%= key %>"></div>
      <% end %>
    </div>
  <% end %>
</div>

<table class="trends margin-y">
  <% @options.each do |cat| %>
    <tr class="trend" style="<%= 'border-left: solid 8px #'+cat[:color]+';' %>">
      <td class="padding-all">
        <h2 class="left fixed-width-6"><%= link_to cat[:name], '/cats/'+cat[:name] %></h2>
      </td>
      <% if cat[:day_avgs] %>
        <td class="padding-all">
          <div class="hefty"><%= cat[:last_16_weeks] %></div>
          <div class="tiny lighter">per week</div>
          <div class="small margin-top-small"><strong>Last 16 weeks</strong></div>
        </td>
        <td class="padding-all">
          <div class="hefty"><%= cat[:last_8_weeks] %></div>
          <div class="tiny lighter">per week</div>
          <div class="small margin-top-small"><strong>Last 8 weeks</strong></div>
        </td>
        <td class="padding-all">
          <div class="hefty"><%= cat[:last_4_weeks] %></div>
          <div class="tiny lighter">per week</div>
          <div class="small margin-top-small"><strong>Last 4 weeks</strong></div>
        </td>
      <% else %>
        <td></td>
        <td></td>
        <td></td>
      <% end %>
    </div>
  <% end %>
</table>
