<%= render 'shared/about' %>

<h1 class="mkb">Stats</h1>

<div class="grid">
  <div class="unit one-of-two">
    <div class="mzb pf ac" style="border: solid 1px #eee;">
      <div class="mdb">Records in the last day</div>
      <div class="th"><%= @stats['1d'] %></div>
    </div>
  </div>
  <div class="unit one-of-two">
    <div class="mzb pf ac" style="border: solid 1px #eee;">
      <div class="mdb">Records in the last week</div>
      <div class="th"><%= @stats['1w'] %></div>
    </div>
  </div>
  <div class="unit one-of-two">
    <div class="mzb pf ac" style="border: solid 1px #eee;">
      <div class="mdb">Records in the last month</div>
      <div class="th"><%= @stats['1m'] %></div>
    </div>
  </div>
  <div class="unit one-of-two">
    <div class="mzb pf ac" style="border: solid 1px #eee;">
      <div class="mdb">Records in the last year</div>
      <div class="th"><%= @stats['1y'] %></div>
    </div>
  </div>
</div>
