<p id="notice"><%= notice %></p>

<div class="margin-y">
  <div class="margin-bottom-small"><%= @record.local_target.strftime('%l:%M%P') %></div>
  <% @record.cats_from_raw.each do |cat| %>
    <%= render partial: "shared/cat", locals: {cat: cat, hue: @record.hue, size: "large"} %>
  <% end %>
</div>

<div class="margin-y clearfix">
  <p>the form is UTC but the time is displayed in the correct zone, please bear with me</p>
  <%= render 'form' %>
  <%= link_to "delete", @record, method: :delete, confirm: "Sure?" %>
</div>
