<%= form_for @cat, url: "/cats/#{@cat.name}" do |f| %>

  <% if @cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cat.errors.count, "error") %> prohibited this record from being saved:</h2>
      <ul>
      <% @cat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-wrap mkb">
    <%= f.label :color %>
    <%= f.text_field :color, {placeholder: "color in hex (#3e2f1a) or as a hue (0-255)"} %>
  </div>
  <%= f.submit %>

<% end %>
