<!DOCTYPE html>
<html>
<head>
  <title>rcrd</title>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no" />
</head>
<body>
  <div id="everything">
    <% if flash[:notice] %>
      <div class="margin-all white" style="<%= bg_color_now %>">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <header class="clearfix">
      <h1 class="logo"><a href="/">rcrd</a></h1>
      <ul>
        <% if current_user %>
          <li class="<%= current 'index' %><%= current 'welcome' %>"><a href="/">dashboard</a></li>
          <li class="<%= current 'new' %>"><a href="/records/new">records</a></li>
          <li class="<%= current 'edit' %>"><a href="/settings">settings</a></li>
        <% else %>
          <li class="<%= current 'new' %>"><a href="/sessions/new">dashboard</a></li>
        <% end %>
        <li class="<%= current 'guide' %>"><a href="/guide">guide</a></li>
      </ul>
    </header>
    <%= yield %>
  </div>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33106225-1']);
    _gaq.push(['_setDomainName', 'rcrd.org']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
